*{
  margin:0;
  padding:0;
}

body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.main{
  background-color: #276749;
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-size: 40px;
  color:rgb(88, 88, 170);
  background-color: white;
  height: 45px;
  width: 40vw;
  margin-top: 25px;
  display:flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

.task{
 height: 40vh;
 width: 30vw;
 margin-top: 50px;
 background-color: white;
 border-radius: 10px;
 padding: 40px;
}

.addTask{
  width: 29vw;
  height: 50px;
  display: flex;
  gap:20px;
}


.inputTask{
 width: 24vw;
 border-radius: 15px;
 border: 2px solid;
 border-color: rgb(196, 193, 193);
 padding: 20px;

}

.addButton{
  padding: 5px;
  width: 80px;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(12, 121, 184);
  color:white;
}

.display{
  margin-top:40px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap:10px

}

.showTask{
  color: rgb(22, 73, 182);
  font-size: 30px;
}

.showList{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.list{
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 5px;
  border: 2px solid rgb(192, 187, 187);
}

.deleteButton{
  background-color: red;
  padding: 5px;
  width: 80px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}